{% if page.comments != false %}
  {% case site.comments_provider %}
    {% when 'gitment' %}
        <div id="container"></div>
        <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
        <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
        <script>
        var gitment = new Gitment({
            id: '{{ page.url }}',
            owner: '{{ site.gitment.owner }}',
            repo: '{{ site.gitment.repo }}',
            oauth: {
                client_id: '{{ site.gitment.oauth.client_id }}',
                client_secret: '{{ site.gitment.oauth.client_secret }}',
            },
        })
        gitment.render('container')
        </script>
  {% endcase %}
{% endif %}
