<h2>Latest News</h2> 
<p>
    <span class="label label-info">05/2019</span>
    <strong> WIDER Face and Person Challenge </strong><br/>
    We organize the second <a href="http://wider-challenge.org/2019.html">WIDER Face and Person Challenge</a> in conjunction with ICCV 2019. There are four exciting tracks with great prizes. Deadline of challenge: July 25, 2019.
</p> 
<p>
    <span class="label label-info">05/2019</span>
    <strong> NTIRE 2019 winner </strong><br/>
    Our new video restoration method, <a href="https://xinntao.github.io/projects/EDVR">EDVR</a>, won all four tracks in the NTIRE 2019 video restoration and enhancement challenges.
</p> 
