<h3>News</h3> 
<p>
    <span class="label label-info">06/2020</span>
    <strong> Master Thesis Defense </strong><br/>
    Defended my Master Thesis "A Local-Global Representation Network for Aspect Level Sentiment Analysis".
</p>
<p>
    <span class="label label-info">11/2019</span>
    <strong> AAAI 2020 </strong><br/>
    One paper (poster) accepted to AAAI 2020.
</p>  
<p>
    <span class="label label-info">05/2019</span>
    <strong> IJCAI 2019 </strong><br/>
    One paper (oral) accepted to IJCAI 2019.
</p> 
