<h3>News</h3> 
<p>
    <span class="label label-info">12/2025</span>
    Join Alibaba as an Algorithm Engineer.
<p>
<p>
    <span class="label label-info">10/2025</span>
    Defended my Ph.D. Thesis "Massively Multilingual Language Modeling and Adaptation".
<p>
<p>
    <span class="label label-info">09/2025</span>
    One paper accepted to EMNLP 2025 Demo Track.
<p>
<p>
    <span class="label label-info">08/2025</span>
    One paper accepted to EMNLP 2025.
<p>
<p>
    <span class="label label-info">06/2025</span>
    One paper accepted to SIGTYP 2025.
<p>
<p>
    <span class="label label-info">05/2025</span>
    One paper accepted to ACL 2025.
<p>
<p>
    <span class="label label-info">01/2025</span>
    Three papers accepted to NAACL 2025.
<p>
<p>
    <span class="label label-info">03/2024</span>
    Two papers accepted to NAACL 2024.
<p>
<p>
    <span class="label label-info">01/2024</span>
    One paper accepted to EACL 2024.
<p>
<p>
    <span class="label label-info">08/2023</span>
    Invited to serve as Program Committee of EMNLP 2023 Industry Track.
</p>  
<p>
    <span class="label label-info">07/2023</span>
    Won an Area Chair Award of ACL 2023.
</p>  
<p>
    <span class="label label-info">06/2023</span>
    Invited to serve as Program Committee of EMNLP 2023.
</p>  
<p>
    <span class="label label-info">05/2023</span>
    One paper accepted to ACL 2023.
<p>
<p>
    See more in <a href="https://lpq29743.github.io/news/">my news</a>.
</p>  
