/* Button */
.widget-social__item .btn {
	padding: 5px 10px;
	font-weight: 700;
	color: #fff;
	background: #2a2a2a;
}

.widget-social__item .btn:hover {
	color: #fff;
	background: #e22d30;
}

/* Animation */
.widget-social__item .btn {
	transition: background-color .25s ease-out;
}

/* Widgets */
.widget {
	margin-bottom: 25px;
	overflow: hidden;
}

.profile__container {
	text-align: center;
}

.profile__avatar {
	display: inline-block;
	width: 96px;
	height: 96px;
	background-size: cover;
	border: 2px solid #fff;
	-moz-border-radius: 50%;
	border-radius: 50%;
	box-shadow: 0 0 0 3px #46433a;
}

.profile__name {
	text-align: center;
}

.widget:last-child {
	margin-bottom: 0;
}

.widget__title {
	position: relative;
	padding-bottom: 5px;
	font-size: 16px;
	font-size: 1rem;
	text-transform: uppercase;
	border-bottom: 3px solid #e22d30;
}

.widget__item {
	display: block;
	padding: 5px 0;
	border-bottom: 1px dotted #ebebeb;
}

.widget__item:first-child {
	padding-top: 0;
}

/* Search widget */
.widget-search__form {
	display: block;
	padding: 5%;
	margin: 0 auto;
	background: #f5f5f5;
}

.widget-search__form .widget-search__submit {
	display: none;
}

.widget-search__field {
	position: relative;
	display: block;
	width: 90%;
	padding: 8px;
	margin: 0 auto;
	font-size: 11px;
	cursor: pointer;
	background: #fff;
	border: 1px solid #ebebeb;
	border-radius: 0;
	outline-offset: -2px;
	transition: none;
	-webkit-appearance: none;
}

.widget-search__field:active,
.widget-search__field:focus {
	cursor: text;
}

/* Social widget */
.widget-social__item {
	padding: 0;
	border: 0;
}

.widget-social__link {
	display: block;
	margin: 0 0 8px;
	white-space: normal;
}

.widget-social__link-icon {
	margin: 0 5px 0 0;
	vertical-align: middle;
	fill: #fff;
}

/* Tags Widget */
.widget-taglist__link {
	display: inline-block;
	margin: 0 4px 8px 0;
	font-size: 12px;
	text-transform: uppercase;
}

/* Languages Widget */
.widget-languages__link {
	display: block;
}

.widget-languages__link:hover .widget-languages__link-btn {
	color: #fff;
	background: #e22d30;
}

.widget-languages__link-btn {
	display: inline-block;
}
