.profile__container {
	text-align: center;
}

.profile__avatar {
	display: inline-block;
	width: 50%;
	/*
	height: 96px;
	*/
	background-size: cover;
	/*
	border: 2px solid #fff;
	-moz-border-radius: 50%;
	border-radius: 50%;
	box-shadow: 0 0 0 3px #46433a;
    */
}

.profile__name {
	text-align: center;
}
