<html>
 <head></head>
 <body>
  --- layout: default --- 
  <section class="collection-head small geopattern" data-pattern-id="{{ page.title | truncate: 15, ''}}"> 
   <div class="container"> 
    <div class="columns"> 
     <div class="column three-fourths"> 
      <div class="collection-title"> 
       <h1 class="collection-header">{{ page.title }}</h1> 
       <div class="collection-info">
         {% if page.date %} 
        <span class="meta-info"> <span class="octicon octicon-calendar"></span> {{ page.date | date: &quot;%Y/%m/%d&quot; }} </span> {% endif %} {% for cat in page.categories %} 
        <span class="meta-info"> <span class="octicon octicon-file-directory"></span> <a href="{{ site.url }}/categories/#{{ cat }}" title="{{ cat }}">{{ cat }}</a> </span> {% endfor %} 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </section> 
  <!-- / .banner --> 
  <section class="container content"> 
   <div class="columns"> 
    <div class="column three-fourths"> 
     <article class="article-content markdown-body">
       {{ content }} 
     </article> 
     <div class="share">
       {% include sns-share.html %} 
     </div> 
     <div class="comment">
       {% include comments.html %} 
     </div> 
     <ul class="pager">
       {% if page.previous.url %} 
      <li class="previous"> <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}"> Previous<br /> <span>{{page.previous.title}}</span> </a> </li> {% endif %} {% if page.next.url %} 
      <li class="next"> <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}"> Next<br /> <span>{{page.next.title}}</span> </a> </li> {% endif %} 
     </ul> 
    </div> 
    <div class="column one-fourth">
      {% include sidebar-search.html %} {% include sidebar-qrcode.html %} {% include sidebar-post-nav.html %} 
    </div> 
   </div> 
  </section> 
  <!-- /section.content --> 
 </body>
</html>